# Exclude env vars
.env
*.env

# Demo files
attr.txt
desc.txt

# Exclude all executable files
*.exe

# Virtual environments
venv/
.venv/
env/

# Exclude python artifacts
pip-selfcheck.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache/

# IDE
.vscode/
.idea/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/package/
/coverage/
/__sapper__/

.cache/
.temp/
*.tmp
!.env.example
.DS_Store
Thumbs.db
dist/
.svelte-kit/
/build/
/server/
node_modules/
.pnpm/
.yarn/
